{% extends 'base.html '%}

{% block body %}
<h1 class="text-center" style="font-family: 'Do Hyeon', sans-serif;">Comment Edit</h1>
<hr>
{% if user.is_authenticated %}
    {% if comment.user == request.user %}
        <form action="{% url 'boards:comments_edit' comment.board.id comment.pk %}" method="POST" style="font-family: 'Do Hyeon', sans-serif;">
            {% csrf_token %}
            댓글 수정: <input type="text" name="content" value="{{ comment.content }} ">
            <input type="submit" value="댓글 수정">
        </form>
    {% endif %}
{% endif %}

{% endblock %}

