{% extends 'base.html'%}

{% block body%}

<h1 class="text-center" style="color:black">게시판</h1>
<hr>

    <table class="table table-hover" bgcolor="Cornsilk" border=0px solid; style="table-layout: fixed">
        <thead>
            <tr>
                <th style=width:100px; class="text-center">목록</th>
                <th style=width:500px; class="text-center">내용</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">글 번호</td>
            <td class="text-center">{{board.pk}}</td>
        </tr>
        <tr>
            <td class="text-center">글 제목</td>
            <td class="text-center">{{board.title}}</td>
        </tr>
        <tr>
            <td class="text-center">작성 시각</td>
            <td class="text-center">{{board.created_at}}</td>
        </tr>
        <tr>
            <td class="text-center" >수정 시각</td>
            <td class="text-center">{{board.updated_at}}</td>
        </tr>
        <tr>
            <td class="text-center" >글 내용</td>
            <td class="text-center" style="word-break:break-all;" wrap="hard">{{board.content}}</td>
        </tr>
        </tbody>
    </table>
    <center>

    <form action="{% url 'boards:delete' board.pk %}" method="POST">
        {% csrf_token %}
        <a href="{% url 'boards:index' %}"><input type="button" value="메인"></a>
        <a href="{% url 'boards:edit' board.pk %}"><input type="button" value="수정"></a>
        <input type="submit" value="삭제">
    </form>
    </center>

<hr>
    <center>
    <form action="{% url 'boards:comments_create' board.pk %}" method="POST">
        {%csrf_token%}
        <input type="text" name="content" size="78">
        <input type="submit" value="댓글작성">
    </form>
    </center>
    <center>
    <hr>
        <p><strong>댓글 목록 | 현재 댓글 갯수: {{ comments|length }} 개</strong></p>
        {% for comment in comments %}

            <form action="{% url 'boards:comments_delete' board.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <li style="word-break:break-all;" wrap="hard">{{ comment.content }}
            <a href="{% url 'boards:comments_edit' board.pk comment.pk %}"><input type="button" value="댓글수정"></a>
            <input type="submit" value="댓글삭제">
            </li>
            {% empty %}
            <p>현재 댓글이 없습니다. </p>
            </form>
        {% endfor %}
    </center>
    <hr>

{% endblock %}