{% extends 'base.html' %}

{% block body %}

<h1 class="text-center" style="color:red">게시판</h1>
<hr>
<table class="table table-hover" bgcolor="Cornsilk ">
    <thead>
        <tr>
            <th class="text-center">번호</th>
            <th class="text-center">제목</th>
            <th class="text-center">날짜</th>
            <th class="text-center">수정날짜</th>
        </tr>
    </thead>
    {% for board in boards %}
    <tbody>
        <tr>
            <td class="text-center"><a href="/boards/{{ board.pk }}/">{{board.id}}</a></td>
            <td class="text-center"><a href="/boards/{{ board.pk }}/">{{board.title}}</a></td>
            <td class="text-center"><a href="/boards/{{ board.pk }}/">{{board.created_at}}</a></td>
            <td class="text-center"><a href="/boards/{{ board.pk }}/">{{board.updated_at}}</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<hr>
<a href="{% url 'boards:new' %}"><input type="button" value="글 작성"></a>

{% endblock %}