{% extends 'base.html' %}

{% block body %}
<center>
    <br><br><br><br>
    <hr>
    <form action="" method="post">
        {% csrf_token %}  <!-- POST 방식을 쓰기 위해서 필요하다-->

        <label for="title">제목</label><br>    <!-- label의 for와 input의 id는 같아야 한다. -->
        <input type="text" name="title" id="title" placeholder="제목을 입력하세요" style= width:580px;><br>
        <label for="content">내용</label><br>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="내용을 입력하세요" style= width:580px;></textarea><br>
        <input type="submit" value="작성">
        <a href="{% url 'boards:index' %}"><input type="button" value="메인"></a>
    </form>
</center>
{% endblock %}