<div style="width:910px; margin:5 auto;">

    <div class="card-body" style="float:left; margin-right:10px;width:200px;border:1px ">
        <a href="{% url 'parsed_data:like2' law.pk %}" class="card-link">
            {% if user in law.like2_users.all %}
                <i class="far fa-grin-beam fa-4x" style="color:crimson"></i>
            {% else %}
                <i class="far fa-grin-beam fa-4x" style="color:black"></i>
            {% endif %}

        </a>
        <p class="card-text" style="font-family: 'Do Hyeon', sans-serif;">{{ law.like2_users.count }}명이 찬성합니다</p>
    </div>


    <div class="card-body" style="float:left; margin-right:10px;width:600px;border:1px ">

        <a href="{% url 'parsed_data:unlike2' law.pk %}" class="card-link">
            {% if user in law.unlike2_users.all %}
                <i class="far fa-angry fa-4x" style="color:crimson"></i>
            {% else %}
                <i class="far fa-angry fa-4x" style="color:black"></i>
            {% endif %}

        </a>
        <p class="card-text" style="font-family: 'Do Hyeon', sans-serif;">{{ law.unlike2_users.count }}명이 반대합니다</p>
    </div>
</div>