{% extends 'base.html' %}

{% block body %}

<h1 class="text-center" style="color:black">{{ law.law_name }}</h1>
<hr>
<table class="table table-hover" bgcolor="Cornsilk" border=0px solid; style="table-layout: fixed">

    <thead>
        <tr>
            <th style=width:100px; class="text-center">목록</th>
            <th style=width:500px; class="text-center">내용</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-center">제안자</td>
        <td class="text-center">{{ law.law_people }}</td>
    </tr>
    <tr>
        <td class="text-center">상임위원회</td>
        <td class="text-center">{{ law.law_department  }}</td>
    </tr>
    <tr>
        <td class="text-center" >국회현황</td>
        <td class="text-center">{{ law.law_condition }}</td>
    </tr>
    <tr>
        <td class="text-center" >의결현황</td>
        <td class="text-center" >{{ law.law_date }}</td>
    </tr>
    <tr>
        <td class="text-center" >의안번호</td>
        <td class="text-center" >{{ law.law_doc_num  }}</td>
    </tr>
    </tbody>
</table>

<!-- ###################################### 찬  성  #######################################-->
<div  style="width:910px; margin:5 auto;">
    <div class="twosteps" style="float:left; margin-right:10px;width:400px;border:1px " >
        <table class="table table-hover" bgcolor="Cornsilk" border=0px solid; >
            <h3>찬성</h3>
            <thead>
                <tr>
                    <th style=width:100px; class="text-center">번호</th>
                    <th style=width:300px; class="text-center">제목</th>
                    <th style=width:150px; class="text-center">좋아요</th>
                </tr>
            </thead>
            <tbody>
                {%for i in boards%}
                <tr>
                    <td class="text-center"><a href="/parsed_data/ASSEM/{{ law.id }}/agree/{{ i.id }}">{{i.id}}</a></td>
                    <td class="text-center"><a href="/parsed_data/ASSEM/{{ law.id }}/agree/{{ i.id }}">{{i.title}}</a></td>
                    <td class="text-center">
                            <div class="card-body">
                                <a href="{% url 'parsed_data:likepa' i.pk %}" class="card-link">
                                    {% if user in i.like_users.all %}
                                        <i class="fas fa-heart fa-lg" style="color:crimson"></i>
                                    {% else %}
                                        <i class="far fa-heart fa-lg" style="color:black"></i>
                                    {% endif %}
                                </a>
                                <p class="card-text">{{ i.like_users.count }} 명이 좋아합니다</p>
                            </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>


    {% if user.is_authenticated %}
        <a href="{% url 'parsed_data:aa_new' law.id %}"><input type="button" value="글작성"></a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인이 필요합니다</a>
    {% endif %}
    </div>

<!-- ###################################### 반   대  #######################################-->

    <div class="thwosteps" style="float:left; width:400px; border:1px ">
        <table class="table table-hover" bgcolor="Cornsilk" border=0px solid;>
            <h3>반대</h3>
            <thead>
                <tr>
                    <th style=width:100px; class="text-center">번호</th>
                    <th style=width:300px; class="text-center">내용</th>
                    <th style=width:150px; class="text-center">좋아요</th>
                </tr>
            </thead>
            <tbody>
                {%for k in boards2%}
                <tr>
                    <td class="text-center"><a href="/parsed_data/ASSEM/{{ law.id }}/disagree/{{ k.id }}">{{k.id}}</a></td>
                    <td class="text-center"><a href="/parsed_data/ASSEM/{{ law.id }}/disagree/{{ k.id }}">{{k.title}}</a></td>
                    <td class="text-center">
                            <div class="card-body">
                                <a href="{% url 'parsed_data:likepa2' k.pk %}" class="card-link">
                                    {% if user in k.like_users.all %}
                                        <i class="fas fa-heart fa-lg" style="color:crimson"></i>
                                    {% else %}
                                        <i class="far fa-heart fa-lg" style="color:black"></i>
                                    {% endif %}
                                </a>
                                <p class="card-text">{{ k.like_users.count }} 명이 좋아합니다</p>
                            </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
            {% if user.is_authenticated %}
                <a href="{% url 'parsed_data:ad_new' law.id %}"><input type="button" value="글작성"></a>
            {% else %}
                <a href="{% url 'accounts:login' %}">로그인이 필요합니다</a>
            {% endif %}
    </div>

</div>

{% endblock %}