{% extends 'base.html' %}

{% block body %}
<h1 class="text-center" style="font-family: 'Do Hyeon', sans-serif;">국회 입법현황(규제관련)</h1>

<div style="width:910px; margin:5 auto;">
    <div class="twosteps" style="float:left; margin-right:20px;width:700px;border:1px ">
        <table class="table table-hover" bgcolor="Cornsilk ">
            <thead>
                <tr>
                    <th class="text-center" style="font-family: 'Do Hyeon', sans-serif;">글번호</th>
                    <th class="text-center" style="font-family: 'Do Hyeon', sans-serif;">법률안</th>
                    <th class="text-center" style="font-family: 'Do Hyeon', sans-serif;">의안번호</th>
                </tr>
            </thead>
            {%for i in Regus_lists%}
                <tbody>
                    <tr>
                        <td class="text-center" style="font-family: 'Do Hyeon', sans-serif;">{{i.total_num}}</td>
                        <td class="text-center"><a class="btn btn-link btn-block" href="/parsed_data/ASSEM-REGU/{{ i.id }}/" style="font-family: 'Do Hyeon', sans-serif;">{{i.regu_name}}</a></td>
                        <td class="text-center" style="font-family: 'Do Hyeon', sans-serif;">{{i.regu_num}}</td>
                    </tr>
                </tbody>
                {% endfor %}
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if Regus_lists.has_previous %}
                    <a class="btn btn-info btn-xs" href="?page=1" style="font-family: 'Do Hyeon', sans-serif;">맨앞</a>
                    <a class="btn btn-info btn-xs" href="?page={{ Regus_lists.previous_page_number }}" style="font-family: 'Do Hyeon', sans-serif;">이전</a>
                {% endif %}

                <span class="current">{{ Regus_lists.number}}</span>
                <span>/</span>
                <span>{{ Regus_lists.paginator.num_pages }}</span>

                {% if Regus_lists.has_next %}
                    <a class="btn btn-info btn-xs" href="?page={{ Regus_lists.next_page_number }}" style="font-family: 'Do Hyeon', sans-serif;">다음</a>
                    <a class="btn btn-info btn-xs" href="?page={{ Regus_lists.paginator.num_pages }}" style="font-family: 'Do Hyeon', sans-serif;">맨뒤</a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="twosteps" style="float:left; width:100px;border:1px ">
        <table class="table table-hover" bgcolor="Cornsilk ">
            <thead>
                <tr>
                    <th class="text-center" style="font-family: 'Do Hyeon', sans-serif;">세부내용</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
            {%for k in regu_num_lists %}
                        <td class="text-center"><a class="btn btn-info btn-block" href='https://opinion.lawmaking.go.kr/gcom/sts/better/{{k.Link_Page_num}}' target="_blank" style="font-family: 'Do Hyeon', sans-serif;">바로가기</a></td>
                    </tr>
            {%endfor%}
                </tbody>

        </table>

        <div class="pagination2">
            <span class="step-links">
                {% if regu_num_lists.has_previous %}
                    <a href="?page=1"></a>
                    <a href="?page={{ regu_num_lists.previous_page_number }}"></a>
                {% endif %}

                {% if regu_num_lists.has_next %}
                    <a href="?page={{ regu_num_lists.next_page_number }}"></a>
                    <a href="?page={{ regu_num_lists.paginator.num_pages }}"></a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}