{% extends 'base.html' %}

{% block body %}
<h1 class="text-center" style="color:black">정부 입법현황</h1>


<table class="table table-hover" bgcolor="Cornsilk ">
    <thead>
        <tr>
            <th class="text-center">글번호</th>
            <th class="text-center">법령</th>
            <th class="text-center">상태</th>
        </tr>
    </thead>
    {%for i in Raws_lists %}
        <tbody>
            <tr>
                <td class="text-center">{{i.id}}</td>
                <td class="text-center"><a href=''>{{i.raw_name}}</a></td>
                <td class="text-center">{{i.raw_status}}</td>
            </tr>
        </tbody>
        {%endfor%}
</table>
<div class="pagination">
    <span class="step-links">
        {% if Raws_lists.has_previous %}
            <a href="?page=1">[맨앞]</a>
            <a href="?page={{ Raws_lists.previous_page_number }}">[이전]</a>
        {% endif %}

        <span class="current">{{ Raws_lists.number}}</span>
        <span>/</span>
        <span>{{ Raws_lists.paginator1.num_pages }}</span>

        {% if Raws_lists.has_next %}
            <a href="?page={{ Raws_lists.next_page_number }}">[다음]</a>
            <a href="?page={{ Raws_lists.paginator1.num_pages }}">[맨뒤]</a>
        {% endif %}
    </span>
</div>

{% endblock %}