{% extends 'base.html' %}

{% block body %}

    <h1 class="text-center" style="font-family: 'Do Hyeon', sans-serif;">정부 입법현황</h1>

<div style="width:910px; margin:5 auto;">
    <div class="twosteps" style="float:left; margin-right:20px;width:700px;border:1px " >
        <table class="table table-hover" bgcolor="Cornsilk ">
            <thead>
                <tr>
                    <th class="text-center" style="font-family: 'Do Hyeon', sans-serif;">글번호</th>
                    <th class="text-center" style="font-family: 'Do Hyeon', sans-serif;">법령</th>

                </tr>
            </thead>

            {%for i in Raws_lists %}
                <tbody>
                    <tr>
                        <td class="text-center" style="font-family: 'Do Hyeon', sans-serif;">{{i.id}}</td>
                        <td class="text-center"><a class="btn btn-link btn-block" href="/parsed_data/GOV/{{ i.id }}/" style="font-family: 'Do Hyeon', sans-serif;">{{i.raw_name}}</a></td>

            {%endfor%}
                     </tr>
                </tbody>
        </table>

        <div class="pagination">
            <span class="step-links">
                {% if Raws_lists.has_previous %}
                    <a class="btn btn-info btn-xs" href="?page=1" style="font-family: 'Do Hyeon', sans-serif;">맨앞</a>
                    <a class="btn btn-info btn-xs" href="?page={{ Raws_lists.previous_page_number }}" style="font-family: 'Do Hyeon', sans-serif;">이전</a>
                {% endif %}

                <span class="current" style="font-family: 'Do Hyeon', sans-serif;">{{ Raws_lists.number}}</span>
                <span>/</span>
                <span style="font-family: 'Do Hyeon', sans-serif;">{{ Raws_lists.paginator.num_pages }}</span>

                {% if Raws_lists.has_next %}
                    <a class="btn btn-info btn-xs" href="?page={{ Raws_lists.next_page_number }}">다음</a>
                    <a class="btn btn-info btn-xs" href="?page={{ Raws_lists.paginator.num_pages }}">맨뒤</a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="twosteps" style="float:left; margin-right:10px;width:100px;border:1px ">
        <table class="table table-hover" bgcolor="Cornsilk ">
            <thead>
                <tr>
                    <th class="text-center" style="font-family: 'Do Hyeon', sans-serif;">세부내용</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
            {%for k in raw_num_lists %}
                        <td class="text-center"><a class="btn btn-info btn-block" href='https://opinion.lawmaking.go.kr/gcom/govLm/{{k.page_num_num}}' target="_blank" style="font-family: 'Do Hyeon', sans-serif;">바로가기</a></td>
                    </tr>
            {%endfor%}
                </tbody>

        </table>

        <div class="pagination2">
            <span class="step-links">
                {% if raw_num_lists.has_previous %}
                    <a href="?page=1"></a>
                    <a href="?page={{ raw_num_lists.previous_page_number }}"></a>
                {% endif %}

                {% if raw_num_lists.has_next %}
                    <a href="?page={{ raw_num_lists.next_page_number }}"></a>
                    <a href="?page={{ raw_num_lists.paginator.num_pages }}"></a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}