{% extends 'base.html' %}

{% block body %}

<h1 class="text-center" style="color:black">{{ raw.raw_name }}</h1>
<hr>
<table class="table table-hover" bgcolor="Cornsilk" border=0px solid; style="table-layout: fixed">

    <thead>
        <tr>
            <th style=width:100px; class="text-center">목록</th>
            <th style=width:500px; class="text-center">내용</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-center">글 번호</td>
        <td class="text-center">{{ raw.id }}</td>
    </tr>
    <tr>
        <td class="text-center">법령종류</td>
        <td class="text-center">{{ raw.raw_attribue }}</td>
    </tr>
    <tr>
        <td class="text-center" >제개정구분</td>
        <td class="text-center">{{ raw.raw_condition }}</td>
    </tr>
    <tr>
        <td class="text-center" >소관부처</td>
        <td class="text-center" >{{ raw.raw_department }}</td>
    </tr>
    <tr>
        <td class="text-center" >추진현황</td>
        <td class="text-center" >{{ raw.raw_status }}</td>
    </tr>
    </tbody>
</table>





<div  style="width:910px; margin:5 auto;">
    <div class="twosteps" style="float:left; margin-right:10px;width:450px;border:1px " >
        <table class="table table-hover" bgcolor="Cornsilk" border=0px solid; >
            <h3 class="text-center">찬성</h3>
            <thead>
                <tr>
                    <th style=width:100px; class="text-center">번호</th>
                    <th style=width:500px; class="text-center">제목</th>
                </tr>
            </thead>
            <tbody>
                {%for i in raw_lists%}
                <tr>
                    <td class="text-center"><a href="/parsed_data/GOV/{{ raw.id }}/agree/{{ i.id }}">{{i.id}}</a></td>
                    <td class="text-center"><a href="/parsed_data/GOV/{{ raw.id }}/agree/{{ i.id }}/">{{i.title}}</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if raw_lists.has_previous %}
                    <a href="?page=1">[맨앞]</a>
                    <a href="?page={{ raw_lists.previous_page_number }}">[이전]</a>
                {% endif %}

                <span class="current">{{ raw_lists.number}}</span>
                <span>/</span>
                <span>{{ raw_lists.paginator.num_pages }}</span>

                {% if raw_lists.has_next %}
                    <a href="?page={{ raw_lists.next_page_number }}">[다음]</a>
                    <a href="?page={{ raw_lists.paginator.num_pages }}">[맨뒤]</a>
                {% endif %}
            </span>
        </div>

    {% if user.is_authenticated %}
        <a href="{% url 'parsed_data:ga_new' raw.id %}"><input type="button" value="글작성"></a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인이 필요합니다</a>
    {% endif %}
    </div>

<!-- ###################################### 반   대  #######################################-->

    <div class="thwosteps" style="float:left; width:450px; border:1px ">
        <table class="table table-hover" bgcolor="Cornsilk" border=0px solid;>
            <h3 class="text-center">반대</h3>
            <thead>
                <tr>
                    <th style=width:100px; class="text-center">번호</th>
                    <th style=width:500px; class="text-center">내용</th>
                </tr>
            </thead>
            <tbody>
                {%for k in raw_lists2%}
                <tr>
                    <td class="text-center"><a href="/parsed_data/GOV/{{ raw.id }}/disagree/{{ k.id }}">{{k.id}}</a></td>
                    <td class="text-center"><a href="/parsed_data/GOV/{{ raw.id }}/disagree/{{ k.id }}">{{k.title}}</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
            <div class="pagination2">
                <span class="step-links">
                    {% if raw_lists2.has_previous %}
                        <a href="?page=1">[맨앞]</a>
                        <a href="?page={{ raw_lists2.previous_page_number }}">[이전]</a>
                    {% endif %}

                    <span class="current">{{ raw_lists2.number}}</span>
                    <span>/</span>
                    <span>{{ raw_lists2.paginator.num_pages }}</span>

                    {% if raw_lists2.has_next %}
                        <a href="?page={{ raw_lists2.next_page_number }}">[다음]</a>
                        <a href="?page={{ raw_lists2.paginator.num_pages }}">[맨뒤]</a>
                    {% endif %}
                </span>
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'parsed_data:gd_new' raw.id %}"><input type="button" value="글작성"></a>
            {% else %}
                <a href="{% url 'accounts:login' %}">로그인이 필요합니다</a>
            {% endif %}
    </div>

</div>

{% endblock %}