{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
.threesteps {
    float:left;
    padding:10px;
    width:33%
}

</style>
<div  style="width:900px; margin:5 auto;">
    <div class="threesteps">
        <img src="{% static 'GOV.png' %}" alt="GOVERNMENT" style="width:100%;"><br>
        <center><a href="{% url 'parsed_data:GOV' %}">정부입법페이지</a></center>

    </div>
    <div class="threesteps">
        <img src="{% static 'ASSEM.png' %}" alt="GOVERNMENT" style="width:100%; padding-top:50px; padding-bottom:10px;"><br><br><br><br>
        <center><a href="{% url 'parsed_data:ASSEM' %}">국회입법페이지</a></center>
    </div>
    <div class="threesteps">
        <img src="{% static 'ASSEM_REGU.png' %}" alt="GOVERNMENT" style="width:100%;"><br>
        <center><a href="{% url 'parsed_data:ASSEM_REGU' %}">국회입법(규제관련)페이지</a></center>
    </div>
</div>

{% endblock %}