{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>AGORA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="shortcut icon" href="{% static 'boards/favicon/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'boards/favicon/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #F8F8FF;
      height: auto;


    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 700px) {
      .sidenav {
        height: auto;
        padding: 15px;
        position: auto;
      }
      .row.content {height:auto;}
    }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="/" class="navbar-left"><img src="{% static 'images/a2.png' %}" height="43px;" style="padding-top: 5px; padding-right: 20px;" prefix="True"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a style="font-family: 'Do Hyeon', sans-serif;" href="{% url 'parsed_data:index' %}">Home</a></li>
        <li><a style="font-family: 'Do Hyeon', sans-serif;" href="/main/#about">About</a></li>
        <li><a style="font-family: 'Do Hyeon', sans-serif;" href="/boards/">자유게시판</a></li>
        <li><a style="font-family: 'Do Hyeon', sans-serif;" href="/parsed_data/">입법현황</a></li>
        <li><a style="font-family: 'Do Hyeon', sans-serif;" href="/main/#contact">Contact</a></li>
        {% if user.is_authenticated %}
            <li><a style="font-family: 'Do Hyeon', sans-serif;" href="{% url 'mypage:userprofile' user.pk %}">마이페이지</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <form action="{% url 'accounts:logout' %}" method="post" style="float:left; padding-top:10px;padding-right:10px;font-family: 'Do Hyeon', sans-serif;">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="로그아웃">
            </form>

            <form action="{% url 'accounts:delete' %}" method="post" style="float:left;padding-top:10px;padding-right:10px;font-family: 'Do Hyeon', sans-serif;">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="회원탈퇴">
            </form>

          {% else %}
            <a class="btn btn-primary" href="{% url 'accounts:login' %}" style="padding-right:10px;font-family: 'Do Hyeon', sans-serif;">[로그인]</a>
            <a class="btn btn-success" href="{% url 'accounts:signup' %}" style="padding-right:10px;font-family: 'Do Hyeon', sans-serif;">[회원가입]</a>
          {% endif %}

      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content" >
    <div class="col-sm-2 sidenav" >
      <p><a class="btn btn-warning btn-block" style="font-family: 'Do Hyeon', sans-serif;" href="{% url 'parsed_data:GOV' %}">정부입법현황</a></p>
      <p><a class="btn btn-success btn-block" style="font-family: 'Do Hyeon', sans-serif;" href="{% url 'parsed_data:ASSEM' %}">국회입법현황</a></p>
      <p><a class="btn btn-primary btn-block" style="font-family: 'Do Hyeon', sans-serif;" href="{% url 'parsed_data:ASSEM_REGU' %}">국회입법현황(규제관련)</a></p>
    </div>
    <div class="col-sm-8 text-left" style="background-color: #f1f1f1;">
            {%block body%}
            {%endblock%}
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div class="container">
    <h3 style="font-family: 'Do Hyeon', sans-serif;">안녕하세요! {{ user.username }} 님</h3>
    <a href="{% url 'accounts:edit' %}"><input class="btn btn-button" type="button"style="font-family: 'Do Hyeon', sans-serif;" value="회원정보 수정"></a>
    <a href="{% url 'accounts:change_password' %}"><input class="btn btn-button" type="button" style="font-family: 'Do Hyeon', sans-serif;" value="비밀번호 수정"></a>
</div>
{% endif %}
<br>


<footer class="container-fluid text-center">
  <p>AGORA Copyright.</p>
</footer>

</body>
</html>
